* { box-sizing: border-box; }
html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.title {
    font-family: monospace;
    text-align: center;
    padding: 5px;
}

.row {
  display: flex;     
  height: 90vh; 
}

.column {
  flex: 50%;
  padding: 5px 40px;
}

#data {
  width: 100%;
  height: 95%;
  background: transparent;
  font-size: 16px;
  border: 3px solid #999;
  
  overflow: auto;
}
